@model IEnumerable<ECommiersMarket.Models.Product>

@{
    ViewBag.Title = "قائمة المنتجات ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-body">
    <p style="direction:ltr">
        <a color:black; class="btn btn-outline-success" href="~/AddProduct/Index"> إضافة منتج </a>
    </p>

    <h2>إدارة المنتجات </h2>

    <p style="direction:ltr ">
        <a color:black; class="btn btn-outline-success" href="~/SubGroups/Index">الرجوع للقائمة   </a>
    </p>

    @using (Html.BeginForm("ADD_SubGroups", "AddProduct", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-control ">
            <div class="col-12">

                <div class="form-group mb-3 col-sm-6 col-lg-12">
                    @Html.Label("الفئات ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("GroupID", new SelectList(ViewBag.data, "ID", "GroupName"), "--اختر--", new { @class = "form-control text-center searchable", required = "required" })
                        @Html.ValidationMessage("GroupID", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-12">
                <label for="SubGroupName" class="form-label">إسم المحموعة  :  </label>
                <input type="text" class="form-control" id="SubGroupName" name="SubGroupName" placeholder="المجموعة " required>
            </div>
            <br />
            <div class="mb-3">
                <button class="btn btn-outline-success w-100 waves-effect waves-light" type="submit"> حفظ  </button>
            </div>
        </div>
    }
