@model IEnumerable<ECommiersMarket.Models.Store>

@{
    ViewBag.Title = "إدارة المخازن";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p style="direction:ltr ">
    <a color:black; class="btn btn-outline-success" href="~/SubGroups/Index">الرجوع للقائمة   </a>
</p>

@using (Html.BeginForm("Index", "AddStore", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-control ">
        <div class="col-12">

            <br>
            <label for="pi_path" class="form-label">  اسم المخزن   </label>
            <input type="text" class="form-control" id="StorName" name="StorName" placeholder="مخزن " required>
            <div class="invalid-feedback">

            </div>
            <br>
            <div class="mb-3">
                <button class="btn btn-primary w-100 waves-effect waves-light" type="submit"> حفظ  </button>
            </div>
        </div>
    </div>
}