@{
    ViewBag.Title = "لوحة التحكم /";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
        .drop-zone {
            width: 400px;
            height: 300px;
            border: 2px dashed #ccc;
            text-align: center;
            padding: 20px;
            background-color: #f7f7f7;
        }

        .drop-button {
            display: inline-block;
            padding: 15px 30px;
            border-radius: 4px;
            background-color: #4285f4;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .drop-button:hover {
                background-color: #3367d6;
            }

        .button-text {
            font-size: 16px;
        }

        .image-preview {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }

            .image-preview img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                margin: 5px;
                border-radius: 4px;
            }
    </style>
    <div id="drop-zone" class="drop-zone">
        <p class="drop-message">Drop images here</p>
        <input type="file" id="file-input" multiple >
        <div id="image-preview" class="image-preview"></div>
    </div>*@

<div class="row">
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">الفئات </span>
                        <h4 class="mb-3">
                            $<span class="counter-value" data-target="@ViewBag.MAinGroupsCount">0</span>k
                        </h4>
                    </div>

                    <div class="col-6">
                        <div id="mini-chart1" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-soft-success text-success">0</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">المنتجات </span>
                        <h4 class="mb-3">
                            <span class="counter-value" data-target="6258">0</span>
                        </h4>
                    </div>
                    <div class="col-6">
                        <div id="mini-chart2" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-soft-danger text-danger">-29 Trades</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col-->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Invested Amount</span>
                        <h4 class="mb-3">
                            $<span class="counter-value" data-target="4.32">0</span>M
                        </h4>
                    </div>
                    <div class="col-6">
                        <div id="mini-chart3" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-soft-success text-success">+ $2.8k</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Profit Ration</span>
                        <h4 class="mb-3">
                            <span class="counter-value" data-target="12.57">0</span>%
                        </h4>
                    </div>
                    <div class="col-6">
                        <div id="mini-chart4" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-soft-success text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row-->


@section scripts

{
    <script>

        const dropZone = document.getElementById('drop-zone');
        const imagePreview = document.getElementById('image-preview');
        const fileInput = document.getElementById('file-input');

        dropZone.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropZone.classList.add('drag-over');
        });

        dropZone.addEventListener('dragleave', () => {
            dropZone.classList.remove('drag-over');
        });

        dropZone.addEventListener('drop', (e) => {
            e.preventDefault();
            dropZone.classList.remove('drag-over');

            const files = e.dataTransfer.files;
            handleFiles(files);
        });

        fileInput.addEventListener('change', (e) => {
            const files = e.target.files;
            handleFiles(files);
        });

        function handleFiles(files) {
            const imageFiles = filterImageFiles(files);

            for (let i = 0; i < imageFiles.length; i++) {
                const file = imageFiles[i];
                const reader = new FileReader();

                reader.onload = function () {
                    const imageUrl = reader.result;
                    const imgElement = document.createElement('img');
                    imgElement.src = imageUrl;
                    imagePreview.appendChild(imgElement);
                };

                reader.readAsDataURL(file);
            }
        }

        function filterImageFiles(files) {
            return Array.from(files).filter(file => file.type.startsWith('image/'));
        }


    </script>
}